:root{
    --background-base: rgb(21,24,29);
    --color-text-base: white;
    --color-black: black;
    --color-opposite-text-base: black;
    --gray-200: rgb(229, 231, 235);
    --gray-400: rgb(153, 161, 175);
    --gray-700: rgb(55,65,81);;
    --gray-800: rgb(36, 43, 52);
    --indigo-500: rgb(99,102,241);
    --indigo-600: rgb(79, 57, 246);
    --fuchsia-200: rgb(246, 207, 255);
    --fuchsia-500: rgb(217,70,239);
    --purple-500:rgb(168,85,247);
    --overlay-black: rgba(0,0,0,0.8);
}
*{
    font-family: "Segoe UI", Arial;
}
/* Keadaan Khusus */
body.no-scroll, body:has(.detail-project:target){
    overflow: hidden;
}
body{
    display: flex;
    background-color: var(--background-base);
}
html{
    scroll-behavior: smooth;
}
.posisi-relatif{
    position: relative;
}
.show-sm, .show-lg{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.tombol-utama{
    background-color: var(--indigo-500);
    color: var(--color-text-base);
    border-radius: 4px;
    transition: all 150ms;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    border: none;
}
.tombol-utama:hover{
    background-color: var(--indigo-600);
}
/* End Keadaan Khusus */
/* hamburger */
.hamburger{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 20;
    margin: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--gray-200);
    border-radius: 2px;
    transition: all 150ms;
}
.hamburger:hover>span{
    background-color: var(--indigo-500);
}
.hamburger.open span:first-child{
    transform: rotate(45deg) translateY(11px);
}
.hamburger.open span:nth-child(2){
    opacity: 0;
}
.hamburger.open span:last-child{
    transform: rotate(-45deg) translateY(-11px);
}
/* end hamburger */

/* Navbar */
aside{
    height: 100vh;
    position: fixed;
    opacity: 0;
    transition: all 500ms;
    top: 0;
    z-index: 10;
    width: 100vw;
    transform: translateX(-100%);
}
aside.open{
    transform: translateX(0);
    background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    opacity: 1;
}
nav{
    border-right: 1px solid var(--gray-800);
    font-family: 'Seven Segment', sans-serif;
    background-color: var(--background-base);
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 100%;
    width: 75%;
    box-sizing: border-box;
}
nav>ul>li{
    margin-block-start: 24px;
    margin-block-end: 24px;
    writing-mode: horizontal-tb;
}
nav>ul>li:first-child{
    margin-block-start: 0;
}
nav>ul>li:last-child{
    margin-block-end: 0;
}
nav li a{
    color: var(--gray-400);
    transition: all 150ms;
    font-size: 1.125rem;
    line-height: 1.5;
    position: relative;
    margin-left: 5px;
}
nav li a:hover, nav li a.active{
    margin-left: 10px;
    color: var(--indigo-500);
}
nav li a.active{
    margin-left: 15px;
}
nav li a.active::before{
    content: '';
    position: absolute;
    top: 50%;
    background-color: var(--indigo-500);
    transform: translateY(-50%);
    margin-left: -15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.sosmed{
    margin-top: auto;
    display: flex;
    justify-content: end;
    gap: 16px;
}
.logo-anchor{
    color: var(--gray-400);
    font-size: 1.25rem;
    transition: all 150ms ease;
}
.logo-anchor:hover{
    color: var(--indigo-500);
}
.logo{
    font-size: 0;
    text-align: center;
    margin-bottom: 48px;
}
.logo>span{
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 800;
}
.logo>span:first-child{
    color: var(--indigo-500);
}
.logo>span:last-child{
    color: var(--color-text-base);
}
/* End Navbar */

main.content, aside{
    color: var(--color-text-base);
}
/* sction hero dan judul */
section.judul, section.hero{
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Seven Segment', sans-serif;
}
section.hero{
    background-image: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/time-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section.hero>h1.keterangan{
    z-index: 2;
    background: linear-gradient(to right, var(--gray-200), var(--indigo-500), var(--fuchsia-500));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
h1.keterangan{
    font-size: 1.875rem; 
    line-height: 2.25rem; 
    font-weight: 600; 
}
/* end */

/* Section About */
section.about>.layer>h1.myrole{
    margin-bottom: 1rem; 
    font-size: 1.25rem; 
    line-height: 1.75rem; 
    font-weight: 800;
}
section.about>.layer{
    width: 75%; 
    border-radius: 0.5rem; 
    padding: 2rem 1.25rem;
    text-align: justify; 
    background-image: linear-gradient(to right,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../img/paper-pattern.webp');
}
section.about>.layer>h1.myrole{
    color: var(--color-opposite-text-base);
}
section.about>.layer>h1.myrole>span{
    color: var(--indigo-500);
}
hr{
    margin-bottom: 1rem; 
    height: 0.125rem; 
    border-radius: 100%; 
    border-width: 0px; 
    background-image: linear-gradient(to right, var(--indigo-500), var(--purple-500), var(--fuchsia-500));
}
section.about>.layer>p{
    font-size: 1rem; 
    line-height: 1.5rem;
    color: var(--gray-700);
}
section.about{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end */


/* section list project */
.grid-list-project{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem 1rem;
}
.grid-list-project>.item{
    overflow: hidden; 
    border-radius: 0.5rem; 
    background-color: var(--gray-800); 
    padding: 1.5rem;
}
.thumbnail{
    aspect-ratio: 16/9;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 8px;
}
.thumbnail>img{
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.grid-list-project>.item>.content{
    text-align: center;
}
.grid-list-project>.item>.content>h3{
    font-size: 1.25rem; 
    line-height: 1.75rem;
    font-weight: 600;
    background-clip: text;
    background-image: linear-gradient(to right, var(--fuchsia-500), var(--indigo-500), var(--gray-200));
    color: transparent;
}
.grid-list-project>.item>.overlay{
    position: absolute;
    opacity: 0;
    background-color: var(--color-black);
    transition: all 150ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
}
.item>.overlay>h3.posisi{
    margin-bottom: 8px; 
    font-size: 1.125rem; 
    line-height: 1.75rem; 
    font-weight: bold;
}
.item>.overlay>.spesifikasi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
span.specification-badge{
    display: inline-block;
    background-color: var(--gray-700);
    color: var(--gray-200);
    font-size: 0.75rem; 
    line-height: 1rem;
    padding: 4px 8px;
    border-radius: 9999px;
    margin-inline-start: 5px;
    margin-block-end: 8px;
}
.grid-list-project>.item>.overlay:hover{
    opacity: 1;
}
.item>.overlay>.detail{
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-project{
    display: none;
}
.detail-project:target{
    position: fixed;
    inset: 0;
    background-color: var(--overlay-black);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 300ms ease-in-out;
}
.detail-project:target .card-detail-project{
    animation: zoom-in 500ms ease-in-out;
}
.card-detail-project{
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    height: fit-content;
    max-width: 42rem;
}
.footer-detail-project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-detail-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.header-detail-project>h3{
    color: var(--color-text-base);
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.4;
}
.deskripsi-project{
    max-height: 9rem;
    background-color: var(--gray-700);
    text-align: justify;
    overflow-y: auto;
    padding: 0 8px;
    margin: 6px 0;
    border-radius: 4px;
}
.main-detail-project {
    margin: 12px 0;
    line-height: 1.75;
    color: var(--gray-200);
}
/* end */

/* section list achievement */
section#list-achievement{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    margin: auto;
    padding: 20px;
    gap: 4px;
}
section#list-achievement>.item{
    min-height: 120px;
    background-color: var(--gray-800);
    border-radius: 8px;
    padding: 8px;
    flex: none;
}
section#list-achievement>.item .overlay{
    border-radius: 16px;
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: var(--overlay-black);
    transition: all 150ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#list-achievement>.item:hover .overlay{
    opacity: 1;
}
section#list-achievement>.item h3{
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.4;
    background: linear-gradient(to left, var(--fuchsia-500), var(--indigo-500), var(--gray-200));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
section#list-achievement>.item hr{
    margin: 5px 0;
}
/* end */

/* section list skill */
section#list-skill{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 20px;
}
section#list-skill>.item{
    height: 150px;
    border: 0.5px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
}
section#list-skill>.item:hover{
    background-color: var(--fuchsia-200);
}
h5.nama-skill{
    font-size: 1.875rem; 
    line-height: 2.25rem; 
    font-weight: 600;
    background: linear-gradient(to bottom, var(--gray-200), var(--indigo-500), var(--fuchsia-500));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* end */

/* contact form section */
section.contact{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    width: clamp(280px, 75%, 400px);
    margin-inline: auto;
    padding: 2rem 1rem;
    border-radius: 10px;
    background-color: var(--gray-800);
}
.contact-form h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
}
.contact-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 0.5rem;
}
.contact-part textarea, .contact-part input{
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: var(--gray-700);
    color: var(--color-text-base);
    font-size: 1rem;
    line-height: 1.5rem;
}
.contact-part textarea{
    resize: vertical;
}
.contact-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.contact-buttons button[type="button"]{
    background-color: var(--fuchsia-500);
    color: var(--color-text-base);    
}
.contact-buttons button[type="button"]:hover{
    background-color: var(--purple-500);
}
.contact-buttons button{
    width: 48%;
}
/* end */
