@media screen and (min-width: 640px) {
    /* Kondisi Tertentu */
    .show-sm{
        display: inline;
    }
    /* end */
    /* Section Hero dan Judul */
    h1.keterangan{
        font-size: 2.25rem; 
        line-height: 2.5rem; 
    }
    /* end */
    /* Section List Skil */
    section#list-skill{
        grid-template-columns: repeat(2, 1fr);
    }
    /* end */
    /* section achievements */
    section#list-achievement{
        grid-template-columns: 1fr 1fr;
    }
}