@media screen and (min-width: 1024px) {
    /* Keadaan Khusus */
    body.no-scroll{
        overflow: auto;
    }
    /* end */
    /* Breakpoint Navbar */
    .hamburger{
        display: none;
    }
    aside{
        position: sticky;
        opacity: 1;
        transform: translateX(0);
        min-width: 25%;
    }
    nav{
        width: 100%;
    }
    /* end */
    /* Section Hero dan Judul */
    h1.keterangan{
        font-size: 6rem; 
        line-height: 1; 
    }
    /* end */    
    .show-lg{
        display: inline;
    }
    /* Section List Skil */
    section#list-skill{
        grid-template-columns: repeat(5, 1fr);
    }
    /* end */    
}